body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CLASSES */
.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header-children {
  margin: 10px 5px;
  padding: 10px;
}


/* IDS */
#logo-text {
  font-family: Lobster;
  font-size: 4em;
  margin: 10px;
  text-decoration: none;
  color: black;
}
